@{
    ViewBag.Title = "Home";
}

<section class="header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg px-5 py-0">
            <button class="navbar-toggler" id="menuButton" type="button" data-toggle="collapse" data-target="#header1" aria-controls="header1" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <img src="~/Images/PSD.png" class="d-inline-block align-top" alt="logo">
            </a>
            <div class="collapse navbar-collapse px-5" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Anasayfa</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Çözümler
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Çözüm 1</a>
                            <a class="dropdown-item" href="#">Çözüm 2</a>
                            <a class="dropdown-item" href="#">Çözüm 3</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            İş Ortaklarımız
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Ortak 1</a>
                            <a class="dropdown-item" href="#">Ortak 2</a>
                            <a class="dropdown-item" href="#">Ortak 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Referanslar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Haberler</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            İletişim
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">İletişim</a>
                            <a class="dropdown-item" href="#">Demo Talebi</a>
                            <a class="dropdown-item" href="#">Destek Talebi</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</section>
<section class="inner-slider">
    <div id="particles-js"></div>
    <div class="image" style="background-image:url('/Images/slider.jpg')">
        <img src="~/Images/slider.jpg" alt="image" />
        <div class="box">
            <h1 class="text-uppercase font-weight-bold">Çözümler</h1>
            <p class="text-white-50 mt-4 mb-4 overflow-hidden">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <a href="/" title="link" class="text-decoration-none px-3 py-2 border mt-3">Ücretsiz Demo</a>
            <a href="/" title="link" class="text-decoration-none px-3 py-2 border mt-3">Bilgi Alın</a>

        </div>
    </div>
</section>
<section class="inner-service">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="rounded-circle mx-auto p-3 mb-4">
                    <div class="image" style="background-image:url('/Images/branding.png')">
                        <img src="~/Images/branding.png" alt="image" />
                    </div>
                </div>
                <div class="card text-center py-5 px-3 shadow border-0">
                    <h5 class="font-weight-bold mt-4 mb-0">Başlık 1</h5>
                    <p class="text-black-50 mb-0 overflow-hidden text-justify">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and.

                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,Lorem Ipsum is simply dummy text of the printing and.
                    </p>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="rounded-circle mx-auto p-3 mb-4">
                    <div class="image" style="background-image:url('/Images/branding.png')">
                        <img src="~/Images/branding.png" alt="image" />
                    </div>
                </div>
                <div class="card text-center py-5 px-3 shadow border-0">
                    <h5 class="font-weight-bold mt-4 mb-0">Başlık 1</h5>
                    <p class="text-black-50 mb-0 overflow-hidden text-justify">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and.

                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,Lorem Ipsum is simply dummy text of the printing and.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 px-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="card bg-white px-5 py-5 rounded-0 border-white position-relative">
                                <h4 class="text-capitalize font-weight-bold position-relative">Örnek Başlıklar</h4>
                                <div class="card-body p-0">
                                    <p class="text-dark text-left description font-weight-normal">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 px-0 mb-5">
                    <div class="image position-relative" style="background-image:url('/Images/kolaykullanim.png')">
                        <img src="~/Images/kolaykullanim.png" alt="resim">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 px-0 mb-5">
                    <div class="image position-relative" style="background-image:url('/Images/kolaykullanim.png')">
                        <img src="~/Images/kolaykullanim.png" alt="resim">
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 px-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="card right bg-white px-5 py-5 rounded-0 border-white position-relative">
                                <h4 class="text-capitalize font-weight-bold position-relative">Örnek Başlıklar</h4>
                                <div class="card-body p-0">
                                    <p class="text-dark text-left description font-weight-normal">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 px-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="card bg-white px-5 py-5 rounded-0 border-white position-relative">
                                <h4 class="text-capitalize font-weight-bold position-relative">Örnek Başlıklar</h4>
                                <div class="card-body p-0">
                                    <p class="text-dark text-left description font-weight-normal">
                                        <i class="fa fa-check mr-2" aria-hidden="true"></i>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir.
                                        <i class="fa fa-check mr-2" aria-hidden="true"></i>Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
                                        <i class="fa fa-check mr-2" aria-hidden="true"></i>1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır.
                                        <i class="fa fa-check mr-2" aria-hidden="true"></i>1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 px-0 mb-5">
                    <div class="image position-relative" style="background-image:url('/Images/kolaykullanim.png')">
                        <img src="~/Images/kolaykullanim.png" alt="resim">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center font-weight-bold">Modüllerimiz</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="row">
                    <div class="col-md-3 p-0 my-auto">
                        <div class="kutu mt-5">
                            <p class="text-center mb-auto">01</p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h5 class="font-weight-bold mt-3">Başlık Bir</h5>
                        <p class="mt-3 overflow-hidden">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="row">
                    <div class="col-md-3 p-0 my-auto">
                        <div class="kutu mt-5">
                            <p class="text-center mb-auto">02</p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h5 class="font-weight-bold mt-3">Başlık Bir</h5>
                        <p class="mt-3 overflow-hidden">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="row">
                    <div class="col-md-3 p-0 my-auto">
                        <div class="kutu mt-5">
                            <p class="text-center mb-auto">03</p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h5 class="font-weight-bold mt-3">Başlık Bir</h5>
                        <p class="mt-3 overflow-hidden">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="row">
                    <div class="col-md-3 p-0 my-auto">
                        <div class="kutu mt-5">
                            <p class="text-center mb-auto">4</p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h5 class="font-weight-bold mt-3">Başlık Bir</h5>
                        <p class="mt-3 overflow-hidden">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="row">
                    <div class="col-md-3 p-0 my-auto">
                        <div class="kutu mt-5">
                            <p class="text-center mb-auto">5</p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h5 class="font-weight-bold mt-3">Başlık Bir</h5>
                        <p class="mt-3 overflow-hidden">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="font-weight-bold mt-3">Diğer Modüllerimiz</h5>
                        <a href="/" class="text-decoration-none text-dark" title="link">
                            <p class="mt-3 overflow-hidden">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                <i class="fa fa-angle-double-right ml-2" aria-hidden="true"></i>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="video py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-capitalize font-weight-bold">Video Başlığı</h5>
                <div class="embed-responsive embed-responsive-16by9 mt-4">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jIbTbfxhrNA" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <h5 class="text-capitalize font-weight-bold">Video Başlığı</h5>
                <div class="embed-responsive embed-responsive-16by9 mt-4">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k41tnI5UHwc" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="packages py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header py-4">
                        <h6 class="font-weight-bold text-capitalize">Ödeme Paketleri</h6>
                        <p class="mb-0">Alt Başlık</p>
                        <span class="cash font-weight-bold"><sup>₺</sup>1500</span>
                    </div>
                    <div class="card-body">
                        <ul class="px-4">
                            <li class=""><i class="fa fa-check mr-2" aria-hidden="true"></i>Cari</li>
                            <li scope="col"> <i class="fa fa-check mr-2" aria-hidden="true"></i>Kasa</li>
                            <li scope="col"> <i class="fa fa-check mr-2" aria-hidden="true"></i>Stok</li>
                        </ul>
                    </div>
                    <div class="card-footer p-4">
                        <a href="/" title="link" class="text-decoration-none text-dark px-3 py-2 border mt-3">Ücretsiz Demo</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header py-4">
                        <h6 class="font-weight-bold text-capitalize">Ödeme Paketleri</h6>
                        <p class="mb-0">Alt Başlık</p>
                        <span class="cash font-weight-bold"><sup>₺</sup>1500</span>
                    </div>
                    <div class="card-body">
                        <ul class="px-4">
                            <li class=""><i class="fa fa-check mr-2" aria-hidden="true"></i>Cari</li>
                            <li scope="col"> <i class="fa fa-check mr-2" aria-hidden="true"></i>Kasa</li>
                            <li scope="col"> <i class="fa fa-check mr-2" aria-hidden="true"></i>Stok</li>
                        </ul>
                    </div>
                    <div class="card-footer p-4">
                        <a href="/" title="link" class="text-decoration-none text-dark px-3 py-2 border mt-3">Ücretsiz Demo</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header py-4">
                        <h6 class="font-weight-bold text-capitalize">Ödeme Paketleri</h6>
                        <p class="mb-0">Alt Başlık</p>
                        <span class="cash font-weight-bold"><sup>₺</sup>1500</span>
                    </div>
                    <div class="card-body">
                        <ul class="px-4">
                            <li class=""><i class="fa fa-check mr-2" aria-hidden="true"></i>Cari</li>
                            <li scope="col"> <i class="fa fa-check mr-2" aria-hidden="true"></i>Kasa</li>
                            <li scope="col"> <i class="fa fa-check mr-2" aria-hidden="true"></i>Stok</li>
                        </ul>
                    </div>
                    <div class="card-footer p-4">
                        <a href="/" title="link" class="text-decoration-none text-dark px-3 py-2 border mt-3">Ücretsiz Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="inner-table py-5">
    <div class="container">
        <div class="table-responsive-md">
            <table class="table table-bordered mt-4 text-center">
                <thead>
                    <tr>
                        <th scope="col">ÖZELLİKLER</th>
                        <th scope="col">STANDART</th>
                        <th scope="col">PRO</th>
                        <th scope="col">ULTRA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="green">Barkodlu Barkodsuz Satış</td>
                        <td class="true">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </td>
                        <td class="true">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </td>
                        <td class="true">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="green">Tüm Barkod Okuyucularla Uyumlu</td>
                        <td class="true">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </td>
                        <td class="true">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </td>
                        <td class="true">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="blue">Müşteri Kayıtları</td>
                        <td class="false">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </td>
                        <td class="true">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </td>
                        <td class="true">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="blue">Versiye Satış</td>
                        <td class="false">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </td>
                        <td class="true">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </td>
                        <td class="true">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="red">Satış Bekletme - Çoklu Kasa Kullanımı</td>
                        <td class="false">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </td>
                        <td class="false">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </td>
                        <td class="true">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="red">Güvenlik - Pencere Kilitleme Ve Şifreleme Kullanımı</td>
                        <td class="false">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </td>
                        <td class="false">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </td>
                        <td class="true">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section class="reference py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center font-weight-bold">Dev Firma Ve Markalar Bizi Tercih Ediyor</h4>
                <p class="text-center py-3">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col-md-3">
                        <div class="image" style="background-image:url('/Images/reference.png');">
                            <img src="~/Images/reference.png" alt="image" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="image" style="background-image:url('/Images/reference.png');">
                            <img src="~/Images/reference.png" alt="image" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="image" style="background-image:url('/Images/reference.png');">
                            <img src="~/Images/reference.png" alt="image" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="image" style="background-image:url('/Images/reference.png');">
                            <img src="~/Images/reference.png" alt="image" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="image" style="background-image:url('/Images/reference.png');">
                            <img src="~/Images/reference.png" alt="image" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="image" style="background-image:url('/Images/reference.png');">
                            <img src="~/Images/reference.png" alt="image" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="image" style="background-image:url('/Images/reference.png');">
                            <img src="~/Images/reference.png" alt="image" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="image" style="background-image:url('/Images/reference.png');">
                            <img src="~/Images/reference.png" alt="image" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="image" style="background-image:url('/Images/reference.png');">
                            <img src="~/Images/reference.png" alt="image" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="image" style="background-image:url('/Images/reference.png');">
                            <img src="~/Images/reference.png" alt="image" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="image" style="background-image:url('/Images/reference.png');">
                            <img src="~/Images/reference.png" alt="image" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="image" style="background-image:url('/Images/reference.png');">
                            <img src="~/Images/reference.png" alt="image" />
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 order-md-1 order-lg-1">
                <div class="image" style="background-image:url('/Images/logo_beyaz.png')">
                    <img src="~/Images/logo_beyaz.png" alt="image" />
                </div>
                <p class="text-white overflow-hidden text-justify px-5 mt-2">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                </p>
            </div>
            <div class="col-lg-2 col-xl-2 col-md-6 col-sm-12 order-md-4 order-lg-2 mt-md-3 mt-lg-0">
                <h6 class="text-white mb-5">Çözümlerimiz</h6>
                <p>
                    <a href="/" title="link" class="text-decoration-none text-white">Çözümlerimiz 1</a>
                </p>
                <p>
                    <a href="/" title="link" class="text-decoration-none text-white">Çözümlerimiz 2</a>
                </p>
                <p>
                    <a href="/" title="link" class="text-decoration-none text-white">Çözümlerimiz 3</a>
                </p>
                <p>
                    <a href="/" title="link" class="text-decoration-none text-white">Çözümlerimiz 4</a>
                </p>
                <p>
                    <a href="/" title="link" class="text-decoration-none text-white">Çözümlerimiz 5</a>
                </p>
            </div>
            <div class="col-lg-2 col-xl-2 col-md-6 col-sm-12 order-md-3 order-lg-3 mt-md-3 mt-lg-0">
                <h6 class="text-white mb-5 px-md-5 px-lg-0">Takipte Kal</h6>
                <p class="px-md-5 px-lg-0">
                    <i class="fa fa-facebook text-white" aria-hidden="true"></i>
                    <a href="/" title="link" class="text-decoration-none text-white ml-2">Facebook</a>
                </p>
                <p class="px-md-5 px-lg-0">
                    <i class="fa fa-instagram text-white" aria-hidden="true"></i>
                    <a href="/" title="link" class="text-decoration-none text-white ml-2">Instagram</a>
                </p>
                <p class="px-md-5 px-lg-0">
                    <i class="fa fa-youtube text-white" aria-hidden="true"></i>
                    <a href="/" title="link" class="text-decoration-none text-white ml-2">Youtube</a>
                </p>
                <p class="px-md-5 px-lg-0">
                    <i class="fa fa-twitter text-white" aria-hidden="true"></i>
                    <a href="/" title="link" class="text-decoration-none text-white ml-2">Twitter</a>
                </p>

            </div>
            <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 order-md-2 order-lg-4">
                <h6 class="text-white mb-5">İletişeme Geç</h6>
                <p>
                    <i class="fa fa-map-marker text-white" aria-hidden="true"></i>
                    <a href="/" title="link" class="text-decoration-none text-white ml-2">
                        Çankaya Mahallesi Ziya Gökalp Caddesi No:17/9 Kızılay/Ankara
                    </a>
                </p>
                <p>
                    <i class="fa fa-phone text-white" aria-hidden="true"></i>
                    <a href="/" title="link" class="text-decoration-none text-white ml-2">0 312 546 17 05</a>
                </p>
                <p>
                    <i class="fa fa-envelope text-white" aria-hidden="true"></i>
                    <a href="/" title="link" class="text-decoration-none text-white ml-2">info@genesisteknoloji.com</a>
                </p>
            </div>

        </div>

    </div>
</section>
<section class="footer py-2 text-center">
    <div class="container">
        <p class="mb-0">
            Copyright © 2020  | Genesis Teknoloji | Tüm hakları saklıdır. | Design By Gökhan Balcı
        </p>
    </div>
</section>